<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>18/01/10 16:32:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginValidation.closeApp()[pri:0, instance:com.lumity.testcases.LoginValidation@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/01/10 16:32:34</td>   <td>7239</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MedicineOrderCheck.closeApp()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/01/10 16:32:27</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:com.lumity.testcases.LoginValidation@3fee9989]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/01/10 16:32:34</td>   <td>7237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@7085bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/01/10 16:32:19</td>   <td>-8423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginValidation.loginValidationTest()[pri:0, instance:com.lumity.testcases.LoginValidation@3fee9989]">loginValidationTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/01/10 16:32:34</td>   <td>7232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MedicineOrderCheck.mdecineOrderCheckTest()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@7085bdee]">mdecineOrderCheckTest</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/01/10 16:32:09</td>   <td>-17812</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginValidation.setUp()[pri:0, instance:com.lumity.testcases.LoginValidation@3fee9989]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/01/10 16:32:27</td>   <td>283</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MedicineOrderCheck.setUp()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@7085bdee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/01/10 16:32:09</td>   <td>-18022</td> <td title="&gt;&gt;BaseExtentReports.setUpForExtentReport()[pri:0, instance:com.lumity.constants.RegistrationPageLocators@6500df86]">&gt;&gt;setUpForExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/01/10 16:32:35</td>   <td>7533</td> <td title="&lt;&lt;BaseExtentReports.tearDownReport()[pri:0, instance:com.lumity.constants.RegistrationPageLocators@6500df86]">&lt;&lt;tearDownReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
</table>
