<h2>Methods that were not run</h2><table>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.setUpForExtentReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
<tr><td>com.lumity.utils.BaseExtentReports.tearDownReport</td></tr>
</table>