<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>18/01/10 16:33:48</td>   <td>0</td> <td title="&gt;&gt;BaseExtentReports.setUpForExtentReport()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@548e7350]">&gt;&gt;setUpForExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/01/10 16:33:48</td>   <td>215</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginValidation.setUp()[pri:0, instance:com.lumity.testcases.LoginValidation@57fffcd7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/01/10 16:33:56</td>   <td>8756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginValidation.loginValidationTest()[pri:0, instance:com.lumity.testcases.LoginValidation@57fffcd7]">loginValidationTest</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/01/10 16:34:05</td>   <td>17506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:com.lumity.testcases.LoginValidation@57fffcd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/01/10 16:34:05</td>   <td>17515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginValidation.loginValidationTest()[pri:0, instance:com.lumity.testcases.LoginValidation@57fffcd7]">loginValidationTest</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/01/10 16:34:14</td>   <td>26206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:com.lumity.testcases.LoginValidation@57fffcd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/01/10 16:34:14</td>   <td>26208</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginValidation.closeApp()[pri:0, instance:com.lumity.testcases.LoginValidation@57fffcd7]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/01/10 16:34:14</td>   <td>26463</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MedicineOrderCheck.setUp()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@548e7350]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/01/10 16:34:24</td>   <td>36007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MedicineOrderCheck.mdecineOrderCheckTest()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@548e7350]">mdecineOrderCheckTest</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/01/10 16:34:24</td>   <td>36011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@548e7350]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/01/10 16:34:24</td>   <td>36012</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MedicineOrderCheck.closeApp()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@548e7350]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/01/10 16:34:24</td>   <td>36278</td> <td title="&lt;&lt;BaseExtentReports.tearDownReport()[pri:0, instance:com.lumity.testcases.MedicineOrderCheck@548e7350]">&lt;&lt;tearDownReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
</table>
